

body{
  background-color:white;
  Height:2000px;
  width: auto;
}

html {
  scroll-behavior: smooth;
}

header{
  width:100%;
  height:250px;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items:baseline;
  margin-top: -3%;
}

#huvudtext {
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 10vw;
  /* font-size:180px; */
}

.menu{
  width:13%;
  height:1000px;
  position: fixed;
  top:0px;
  right:0px;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
}

.navbar{
  background-color:white;
  margin-top:200px;
}

.menu .navbar{
  display: none;
}

.menu:focus-within .navbar {
  display: block;
}

.hamburger {
  Background-color:white;
  border: none;
  width: 60px;
  height: 60px;
  position: fixed;
  left:92%;
  top:5%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#hamb{
  width:100%;
  height:10px;
  background-color:black;
}

main{
  width:100%;
  height:auto;
  display: flex;
  align-items: baseline;
  justify-content: center;
}

#circle{
  margin-top:5%;
  background-color:green;
  width: 458px;
  height: 458px;
  border-radius: 50%;
  filter: blur(170px);
  z-index: -2;
}

#floatbox{
  margin-top:5%;
  position: absolute;
}

.navhome {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  font-size: 40px;
}

a {
    text-decoration: none;
    color: inherit;
}

#aboutmebild {
  width:100%;
  height:auto;
  /* background-color:green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom:40px;
}

#isac{
  height:auto;
  Width:20vw;
}

#ATG {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5vw;
  width:40%;
  height: auto;
}

#aboutmebild2 {
  font-family: 'Work Sans', sans-serif;
  width:100%;
  height:auto;
  /* background-color:red; */
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

#AB{
  font-size: 2vw;
  width:35%;
  height:auto;
  /* background-color:green; */
}

#Education {
  font-size: 2vw;
  width:35%;
  height:auto;
  /* background-color:green; */
}

#text {
  padding:15px;
  font-size: 2vw;
  width:45%;
}

footer {
  width:100%;
  height:300px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}

#mailme {
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  font-size: 30px;
}

#logotype {
  padding:15px;
  display: flex;
  justify-content: space-between;
  width:150px;
}

@keyframes star {
  0%   {opacity: 0}
    25%  {opacity: 50%;}
    50%  {opacity: 100%;}
    75%  {opacity: 50%;}
    100% {opacity: 0}
}

#star1{
  animation-name: star;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
