
body{
  background-color:white;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;

}

header{
  width:100%;
  height:auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  margin-top: -3%;
}

main{
  width:100%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}

a {
    text-decoration: none;
    color:black;
}

a:hover {
    text-decoration: none;
    color:white;
}


/* Mobile Design header */

#imp {
  background-color:blue;
  font-family: 'Work Sans', sans-serif;
  color:white;
  display:none;
  place-items:Center;
  height:auto;
  font-size: 1rem;
  padding:25px;
}

#Mobileheader {
  padding-top:100px;
  width:100%;
  height:auto;
  display:grid;
  place-items:center;
}

#mobiletext {
  width:auto;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size:9rem;
  align-items: baseline;
  margin-top:-8%;
  line-height: 9rem;
}

#mobilethink {
  width:80vw;
}

#mobilenav{
  padding-top:20px;
  width:100%;
  height:auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 50px;
}

.hamburger {
Background-color:white;
border:2px solid white;
border-radius:15px;
width: 60px;
height: 60px;
padding:5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
cursor: pointer;
margin-right:5%;
}

#hamb{
width:100%;
height:10px;
background-color:black;
}

#headerunder {
  text-align: center;
  display:grid;
  padding-top:20px;
  place-items:center;
  width:auto;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
  margin-top:-3%;
}

/* Header */

#huvudtext {
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 10vw;
  /* font-size:180px; */
}

/* I Think therefore I design */

#think {
  width:100%;
  height:auto;
  display: grid;
  place-items:center;
  padding-bottom:100px;
}

#therefore {
  width:55vw;
  padding:80px;
}

/* Navigation */

#circle{
  width:100%;
  height: auto;
  border-radius: 50%;
  z-index: -2;
  display:grid;
  place-items:center
}

#blob {
  width:40vw;
}

#floatbox{
  position: absolute;
}

.navhome {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  /* font-size: 50px; */
  font-size: 2.5vw;
}

#navhome:hover {
  color:blue;
}

/* Hi! */

#aboutmebild {
  width:100%;
  height:auto;
  /* background-color:green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom:50px;
}

#ATG {
  font-family: 'Work Sans', sans-serif;
  font-size: 2.5vw;
  width:40%;
  height: auto;
  font-weight: 600;
}

#isac{
  height:auto;
  Width:20vw;
}


/* About me and Education! */

#talk2me:hover {
  color:#00FF29;
}

#aboutmebild2 {
  font-family: 'Work Sans', sans-serif;
  width:100%;
  height:auto;
  /* background-color:red; */
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}

#AB{
  font-size: 2vw;
  width:35%;
  height:auto;
  font-weight: 700;
  /* background-color:green; */
}

#Education {
  font-size: 2vw;
  width:35%;
  height:auto;
  /* background-color:green; */
  font-weight: 700;
}

#text {
  padding:15px;
  font-size: 2vw;
  width:45%;
  font-weight: 500;
}

/* Footer */

footer {
  width:100%;
  height:300px;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  /* display: grid;
  place-items:center; */
}

#casestudyknapp {
  color:white;
}

#casestudyknapp:hover {
  color:white;
}

#mailme {
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  padding:50px;
  color:black;
  transition: all 0.2s ease-in-out;
}

#mailme:hover {
 transform: scale(1.1);
 color:black;
}

#mailhover {
  color:black;
}


#logotype {
  padding:25px;
  display: flex;
  justify-content: space-between;
  width:250px;
}

#back2top {
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  font-size: 2rem;
  margin-left: 80%;
  position: absolute;
}

#thecasestudies{
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2vw;
  border-radius:2em;
  color:white;
  background-color:#00FF38;
  transition: all 0.2s;
  padding: 20px 60px 20px 60px;
}

#mobilebutton{
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  border-radius:2em;
  color:white;
  background-color:#00FF38;
  transition: all 0.2s;
  font-size: 1rem;
  padding:10px 20px 10px 20px;
}


#thecasestudies:hover {
  background-color:#007119;
}

/* Other! */

@media only screen and (max-width: 900px) {

  body{
    background-color:#2F5147;
  }

  .hamburger {
    background-color:#2F5147;
    border-color: #2F5147;
  }
#mobilebutton {

  background-color: #F2404A;
}


  #mobiletext {
      color:#F5EDD8;
  }

  #headerunder {
      color:#F5EDD8;
  }

  #hamb {
      background-color:#F5EDD8;
  }

  #think{
    padding-bottom:30px;
  }

  #huvudtext {
    display: none;
  }

  #therefore {
    display:none;
  }

  #imp {
    display:grid;
  }

  #aboutmebild {
    display:none;
  }

  main {
    display:none;
  }

  #aboutmebild2 {
    display:none;
  }

  footer {
    display: none;
  }

  #thecasestudies{
    display:None;
  }


}

@media only screen and (min-width: 900px) {

  #mobiletext{
    display:none;
  }

  #mobilenav{
    display:none;
  }

  #mobilethink{
    display: none;
  }

  #imp {
    display:none;
  }

  #headerunder {
    display:none;
  }

  #mobilebutton {
    display:none;
  }

}
