:root{
  --green-bg:#2F5147;
  --beach-yt:#F5EDD8;
}

body{
  background-color:var(--green-bg);
  width:75%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header{
  width:100%;
  height:auto;
  display: flex;
  justify-content: flex-start;
}

main{
  width:100%;
  height:auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0px;
}

a {
    text-decoration: none;
    color:black;

}

a:hover {
    text-decoration: none;
    color:white;
}

/* Left side */

#leftside a {
  color:var(--beach-yt);
}

#leftside a:hover {
  color:#B7AD92;
}

#leftside {
  font-size: 1.2rem;
  top:0px;
  left:0px;
  position: fixed;
  width:25%;
  height:100%;
  /* background-color: red; */
  font-family: 'Work Sans', sans-serif;
  color:var(--beach-yt);
  display:grid;
  place-items:center;
}

#left-box {
  width:70%;
  margin-bottom:40%;
}

#projects {
font-weight: bold;
}

#project-list {
  color:var(--beach-yt);
  list-style: none;
  font-weight: 400;
  padding-inline-start:0px;
}

#AB-left {
  font-weight: bold;
}

#left-aboutme {
  font-weight: 400;
}

#left-CV {
  font-weight: 400;
}

#left-contact {
  font-weight: bold;
}

#left-contact div {
  font-weight: 400;
}

/* MOBILE NAV BAR */

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input{
  display: none;
}

#hamburger-menu {
  margin-right: 10px;
    width: 50px;
    height: 50px;
    display:inline;
    border: none;
    background: linear-gradient(
      to bottom,
      #2F5147, #2F5147 20%,
      #F5EDD8 20%, #F5EDD8 40%,
      #2F5147 40%, #2F5147 60%,
      #F5EDD8 60%, #F5EDD8 80%,
      #2F5147 80%, #2F5147 100%
    );
}

#hamburger-menu #sidebar-menu {
    font-family: 'Work Sans', sans-serif;
    visibilty: hidden;
    position: fixed;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100%;
    background-color:var(--green-bg);
    transition: 0.3s;
    padding: 0px 10px;
}

#hamburger-menu h3 {
  text-align: right;
  padding-right:15px;
  padding-top:15px;
  margin-top:100px;
  color:var(--beach-yt);
  font-size: 2.2rem;
}

#hamburger-menu ul {
padding-left: 0px;
text-align: center;
}

#hamburger-menu li {
  list-style-type: none;
  line-height: 3rem;
}

#hamburger-menu a {
  border:2px #F5EDD8 solid;
  padding:15px;
  border-radius: 50%;
  font-weight: bold;
  color:var(--beach-yt);
  font-size: 1.3rem;
  text-decoration: none;
}

#hamburger-menu a:hover {
  text-decoration: underline;
}

#hamburger-menu h3:hover {
  text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu {
    visibility: visible;
    right: 0;
}
#hamburger-input:checked ~ .overlay{
   visibility: visible;
  opacity: 0.4;
}

#bildermp {
  display:flex;
  margin-top:50px;
  justify-content:center;
}

#bildermp img {
}

#bildermp a {
  border:2px #2F5147 solid;
}

/* Mobile Design header */

#imp {
  background-color:blue;
  font-family: 'Work Sans', sans-serif;
  color:white;
  place-items:Center;
  height:auto;
  font-size: 1rem;
  padding:25px;
}

#Mobileheader {
  padding-top:100px;
  width:100%;
  height:auto;
  display:grid;
  place-items:center;
}

#mobiletext {
  width:auto;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size:9rem;
  align-items: baseline;
  /* margin-top:-8%; */
  line-height: 9rem;
}

#mobilethink {
  max-width:80vw;
}

#mobilenav{
  padding-top:20px;
  width:100%;
  height:auto;
  display: flex;
  justify-content: flex-end;
  padding-bottom:25px;
}

.hamburger {
Background-color:white;
border:2px solid white;
border-radius:15px;
width: 60px;
height: 60px;
padding:5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
cursor: pointer;
margin-right:5%;
}

#hamb{
width:100%;
height:10px;
background-color:black;
}

#headerunder {
  text-align: center;
  display:grid;
  padding-top:20px;
  padding-bottom: 10px;
  place-items:center;
  width:auto;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 1.5rem;
}

/* Header */

header a {
  display:flex;
  align-items: baseline;
}

#huvudtext {
  color:var(--beach-yt);
  font-family: 'Oswald', sans-serif;
  font-size: 8vw;
  line-height: 8vw;
}

#tvo {
  color:var(--beach-yt);
  font-family: 'Oswald', sans-serif;
  font-size: 3vw;
  line-height: 3vw;
}

/* I Think therefore I design */

#think {
  width:100%;
  height:auto;
  display: grid;
  place-items:center;
  padding-bottom:50px;
}

#therefore {
  width:55vw;
  padding:80px;
}

/* Navigation */

#circle{
  width:100%;
  height: auto;
  border-radius: 50%;
  z-index: -2;
  display:grid;
  place-items:center
}

#blob {
  width:40vw;
}

#floatbox{
  position: absolute;
}

.navhome {
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  /* font-size: 50px; */
  font-size: 2.5vw;
}

#navhome:hover {
  color:blue;
}

/* Hi! */

#aboutmebild {
  width:100%;
  height:auto;
  /* background-color:green; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-bottom:50px;
}

#ATG {
  font-family: 'Work Sans', sans-serif;
  color:var(--beach-yt);
  font-size: 2.5vw;
  width:50%;
  height: auto;
  font-weight: 600;
  /* text-align: justify; */
}

#isac{
  height:auto;
  Width:20vw;
}

/* PROJECT DISPLAY */

#project-display {
  width: 100%;
  height:auto;
  /*
  display: flex;
  flex-wrap: wrap;
*/
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4rem;
  color:var(--beach-yt);
  padding:25px;
  padding-bottom:70px;
}
#project-display a {
  color:var(--beach-yt);
  width:100%;
  height:auto;
}

#project-display a:hover {
  color:#B7AD92;
}

#project1 {
  width:100%;
  height:auto;
  /* background-color: red; */
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#project1 img {
  width:89%;
  height:auto;
}

#project2 {
  width:100%;
  height:auto;
  /* background-color: black; */
  grid-area: 1 / 3 / 3 / 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

#project2 img {
  width:100%;
  height:auto;
}

#project3 {
  width:100%;
  height:auto;
  grid-area: 3 / 1 / 5 / 4;
}

#project3 img {
  width:100%;
  height:auto;
}

#project4 {
  width:100%;
  height:auto;
  grid-area: 3 / 4 / 5 / 6;
}

#project4 img {
  width:89%;
  height:auto;
}

#project5 {
  width:100%;
  height:400px;
  grid-area: 5 / 1 / 7 / 3;
}

#project5 img {
  width:100%;
  height:auto;
}

.project-title {
  padding-top: 5px;
 width: 100%;
 font-weight: 600;
}

.project-text {
width: 100%;
font-weight: 400;
}


/* About me and Education! */

#talk2me {
  color:var(--beach-yt);
}

#talk2me:hover {
  color:#00FF29;
}

#aboutmebild2 {
  font-family: 'Work Sans', sans-serif;
  width:100%;
  height:auto;
  color:var(--beach-yt);
  /* background-color:red; */
  display:flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  padding-bottom:100px;
  padding-top:50px;
}

#AB{
  font-size: 1.8rem;
  width:35%;
  height:auto;
  font-weight: 700;
  /* background-color:green; */
}

#Education {
  font-size: 1.8rem;
  width:35%;
  height:auto;
  /* background-color:green; */
  font-weight: 700;
}

#text {
  padding:15px;
  font-size: 1.5rem;
  width:50%;
  font-weight: 500;

}

/* Footer */

footer {
  width:100%;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  /* display: grid;
  place-items:center; */
}

#casestudyknapp {
  color:black;
}

#casestudyknapp:hover {
  color:white;
}

#mailme {
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  padding:50px;
  color:var(--beach-yt);
  transition: all 0.2s ease-in-out;
}

#mailme:hover {
 transform: scale(1.1);
 color:var(--beach-yt);
}

#mailhover {
  color:var(--beach-yt);
}


#logotype {
  padding:25px;
  display: flex;
  justify-content: space-between;
  width:250px;
}

#back2top {
  font-weight: 600;
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  margin-left: 50%;
  position: absolute;
}

#thecasestudies{
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2vw;
  border-radius:2em;
  color:white;
  background-color:#F2404A;
  transition: all 0.2s;
  padding: 20px 60px 20px 60px;
}

#mobilebutton{
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  border-radius:2em;
  color:white;
  background-color:#00FF38;
  transition: all 0.2s;
  font-size: 1rem;
  padding:10px 20px 10px 20px;
}


#thecasestudies:hover {
  background-color:#702024;
}

/* Other! */

@media only screen and (max-width: 900px) {

  body{
    width:100%;
    background-color:#2F5147;
  }

  header {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }

  #leftside , #tvo{
    display: none;
  }

  .hamburger {
    background-color:#2F5147;
    border-color: #2F5147;
  }

  #mobilebutton {

  background-color: #F2404A;
}


  #mobiletext {
      color:var(--beach-yt);
  }

  #headerunder {
      color:var(--beach-yt);
  }

  #hamb {
      background-color:var(--beach-yt);
  }

  #think{
    padding-bottom:30px;
  }

  #huvudtext {
    display: none;
  }

  #therefore {
    display:none;
  }

  #imp {
    display:grid;
  }

  #imp {
    display:grid;
  }

  #aboutmebild {
    display:none;
  }

  main {
    display:none;
  }

  #aboutmebild2 {
    display:none;
  }

  footer {
    display: none;
  }

  #thecasestudies{
    display:None;
  }


}

@media only screen and (min-width: 900px) {

  #mobiletext{
    display:none;
  }

  #mobilenav{
    display:none;
  }

  #mobilethink{
    display: none;
  }

  #imp {
    display: none;
  }


  #headerunder {
    display:none;
  }

  #mobilebutton {
    display:none;
  }

}
