body {
background-color:white;
Height:auto;
width: auto;
}

html {
  max-width:100%;
  overflow-x:hidden;
}

header{
  width:100%;
  height:auto;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items:baseline;
  margin-top: -3%;
}

#maincontainer2 {
width:100%;
height:12vw;
/* background-color: red; */
font-family: 'Work Sans', sans-serif;
color:black;
position: relative;
z-index: 0;
}

#studyheader{
  width:100%;
  height:auto;
  /* background-color: blue; */
  background-color:white;
  display: flex;
  align-items: baseline;
  justify-content: center;
  Font-size: 5vw;
}

#persona  {
  position: absolute;
  font-weight: 500;
  text-align: right;
}

#case1blob {
  position: absolute;
  margin-bottom:800px;
  margin-left: 5%;
  width:20vw;
}

#huvudtext {
color:black;
font-family: 'Oswald', sans-serif;
font-size: 10vw;
}

#uxfolio{
font-size: 30px;
color:black;
font-family: 'Oswald', sans-serif;
}

.menu{
  width:15%;
  height:auto;
  position: fixed;
  top:0px;
  right:0px;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  z-index: 2;
}

.navbar {
margin-top:120px;
}

.menu .navbar{
display: none;
}

.menu:focus-within .navbar {
  display: flex;
  flex-direction: column;
  gap:25px;
}

.hamburger {
Background-color:white;
border: none;
width: 60px;
height: 60px;
position: fixed;
left:93%;
top:5%;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
cursor: pointer;
}

#nav2 {
  background-color: white;
  border-radius: 10px;
  padding:0px 10px 0px 10px;
}

#hamb{
width:100%;
height:10px;
background-color:black;
}

main {
width:100%;
height:inherit;
/* background-color: gray; */
background-color:white;
display: block;
align-items: center;
justify-content: center;
}

#alma{
width:40vw;
height:auto;
}

#mediascroller {
height:auto;
width:80%;
/* background-color: black; */
background-color:white;
display: flex;
justify-content: space-between;
align-items: center;
margin: auto;
overflow-y: hidden;
padding: 15px;
/* padding-top:180px; */
}

#prevcase {
font-family: 'Work Sans', sans-serif;
font-size: 1.5rem;
font-weight: 700;
}

#nextcase {
font-family: 'Work Sans', sans-serif;
font-size: 1.5rem;
font-weight: 700;
}

#maincontainer {
width:100%;
height:auto;
/* background-color: red; */
background-color:white;
font-family: 'Work Sans', sans-serif;
color:black;
}

#intro{
  width:100%
  height:auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  display: grid;
  place-items:Center;
}

#summary{
  width:80%;
  height:auto;
}

#pretext{
  width:100%
  height:auto;
  font-family: 'Work Sans', sans-serif;
  font-weight:500;
  font-size: 1.5vw;
  display: grid;
  place-items:Center;
  padding-bottom: 50px;
}

#prepara{
  width:80%;
  height:auto;
}

.processen{
  width:100%;
  height:auto;
  font-weight: 500;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 50px;
}

#aquarium {
  width:100%;
  height:auto;
  display:grid;
  place-items:center;
  padding-bottom: 80px;'
  font-family: 'Work Sans', sans-serif;
}

#shab {
  width:60%;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  font-family: 'Work Sans', sans-serif;
}

#aqbild {
  width:25vw;
}

#aquarium2 {
  width:100%;
  height:auto;
  display:grid;
  place-items:center;
  padding-bottom: 40px;
}

#shab2 {
  width:40%;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

#aqbild2 {
  width:20vw;
}

#aqbild2 {
  width:30vw;
}

.surveytext{
  width:70%;
  height: auto;
  font-size: 1.2vw;
  line-height: 1.2;
  align-items: flex-start;
  font-family: 'Work Sans', sans-serif;
}

.surveyheader{
  font-weight: 800;
  font-size: 1.5vw;
  padding: 15px;
  font-family: 'Work Sans', sans-serif;
}

.surveybild{
  width:auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

#surveyproc {
  width:15vw;
  padding: 10px;
}

#survey2text {
  font-size: 1vw;
  padding:10px;
  font-weight: 700;
}

#finished-design {
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#finished {
  width:40vw;
  padding:25px;
}
#finishedheader{
  font-weight: 800;
  font-size: 2vw;
  padding:15px;
}

footer {
  width:100%;
  height:300px;
  display: grid;
  place-items:center;
}

#mailme {
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  transition: all 0.2s ease-in-out;
  }

  #mailme:hover {
  transform: scale(1.1);
  }

#logotype {
  padding:15px;
  display: flex;
  justify-content: space-between;
  width:200px;
}

#thecasestudies{
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2vw;
  border-radius:2em;
  padding:20px;
  color:white;
  background-color:#00FF38;
  transition: all 0.2s;
}

#thecasestudies:hover {
  background-color:#007119;
}


a {
    text-decoration: none;
    color: inherit;
}
