body{
  background-color:white;
  max-width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

header{
font-family: 'Work Sans', sans-serif;
font-weight: 600;
max-width: 100%;
overflow-x: hidden;
}

a {
    text-decoration: none;
    color:black;
    margin:0px;
    padding:0px;
}

/* Hamburger */

#mobilenav{
  padding-top:20px;
  width:100%;
  height:auto;
  display: flex;
  justify-content: flex-end;
}

.hamburger {
Background-color:white;
border:2px solid white;
border-radius:15px;
width: 60px;
height: 60px;
padding:5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
cursor: pointer;
margin-right:5%;
}

#hamb{
width:100%;
height:10px;
background-color:black;
}

/* Header */

#mobiletext {
  width:80%;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
}

#container-parent{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.separator {
  width:80%;
  height:5px;
  background-color: black;
}

.casestudy {
  padding:15px;
  display:grid;
  grid-template:auto / auto;
  width:80%;
  height:auto;
  /* background-color: red; */
  align-items: Start;
  justify-content:flex-start;
  text-align: left;
}

.casetitle {
  font-size:1.2rem;
  display:flex;
  flex-direction: column;
  padding:15px;
  min-width:80px;
}

#boximage {
  padding-top:15px;
  grid-column:2;
  grid-row:1 / 2;
  width:160px;
  height:auto;
}

.casereadmore{
  font-family: 'Oswald', sans-serif;
  margin-top:30px;
  width:auto;
  height:auto;
  font-size:1rem;
  text-align: center;
}
