body {
background-color:white;
Height:auto;
max-width: 100%;
overflow-x: hidden;
}

header{
  width:100%;
  height:auto;
  /* background-color: gray; */
  display: flex;
  justify-content: center;
  align-items:baseline;
  margin-top: -3%;
}

#huvudtext {
color:black;
font-family: 'Oswald', sans-serif;
font-size: 10vw;'
line-height: 0.5rem;
}

#uxfolio{
font-size: 30px;
color:black;
font-family: 'Oswald', sans-serif;
}

.menu{
  width:15%;
  height:auto;
  position: fixed;
  top:0px;
  right:0px;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 40px;
  z-index: 2;
}

.navbar {
margin-top:120px;

}

.menu .navbar{
display: none;
}

.menu:focus-within .navbar {
display: block;
}

.hamburger {
Background-color:white;
border: none;
width: 60px;
height: 60px;
position: fixed;
left:93%;
top:5%;
padding: 5px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
cursor: pointer;
}

#hamb{
width:100%;
height:10px;
background-color:black;
}

main {
width:100%;
height:inherit;
/* background-color: gray; */
background-color:white;
display: block;
align-items: center;
justify-content: center;
}

#alma{
width:40vw;
height:auto;
}

#container1 {
  width:100%;
  width:auto;
  display: grid;
  place-items:center;
}

#mediascroller {
margin:auto;
height:auto;
width:80%;
/* background-color: black; */
background-color:white;
display: flex;
justify-content: space-between;
align-items: center;
overflow-y: hidden;
padding: 15px;
padding-top:160px;
}

#prevcase {
opacity: 0;
font-family: 'Work Sans', sans-serif;
font-size: 1.5rem;
font-weight: 700;
cursor:default;
}

#nextcase {
font-family: 'Work Sans', sans-serif;
font-size: 1.5rem;
font-weight: 700;
}

#maincontainer {
width:100%;
height:auto;
/* background-color: red; */
background-color:white;
font-family: 'Work Sans', sans-serif;
color:black;
}

#maincontainer2 {
top:20%;
width:100%;
height:auto;
/* background-color: red; */
font-family: 'Work Sans', sans-serif;
color:black;
padding-bottom:200px;
position: absolute;
z-index: 0;
}

#studyheader{
  width:100%;
  height:auto;
  /* background-color: blue; */
  background-color:white;
  display: flex;
  align-items: baseline;
  justify-content: center;
  Font-size: 6.5vw;
}

#persona  {
  position: absolute;
  font-weight: 500;
}

#case1blob {
  position: absolute;
  margin-bottom:800px;
  margin-left: 5%;
}

#intro{
  width:100%
  height:auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  font-size: 2vw;
  display: grid;
  place-items:Center;
}

#summary{
  width:80%;
  height:auto;
}

#pretext{
  width:100%
  height:auto;
  font-family: 'Work Sans', sans-serif;
  font-weight:500;
  font-size: 1.5vw;
  display: grid;
  place-items:Center;
  padding-bottom: 50px;
}

#thecasestudies{
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2vw;
  border-radius:2em;
  padding:20px;
  color:white;
  background-color:#00FF38;
  transition: all 0.2s;
}

#thecasestudies:hover {
  background-color:#007119;
}

#prepara{
  width:80%;
  height:auto;
}

.processen{
  width:100%;
  height:auto;
  font-weight: 500;
  display:flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 100px;
}

#aquarium {
  width:100%;
  height:auto;
  display:grid;
  place-items:center;
  padding-bottom: 80px;
}

#shab {
  width:70%;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

#aqbild {
  width:30vw;
}

.surveytext{
  width:50%;
  height: auto;
  padding-right:50px;
  font-size: 1.2vw;
  line-height: 1.2;
  align-items: flex-start;
}

.surveyheader{
  font-weight: 800;
  font-size: 1.5vw;
  padding: 15px;
}

.surveybild{
  width:auto;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}

#surveyproc {
  width:30vw;
  padding: 10px;
}

#survey2text {
  width: 20vw;
  font-size: 1vw;
  padding:10px;
  font-weight: 700;
}

#finished-persona {
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#finished {
  width:60vw;
  padding:25px;
}
#finishedheader{
  font-weight: 800;
  font-size: 2vw;
  padding:15px;
}

footer {
  width:100%;
  height:300px;
  /* display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center; */
  display: grid;
  place-items:center;
}

#mailme {
  width:auto;
  height: auto;
  font-family: 'Work Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5vw;
  padding:50px;
}

#logotype {
  padding:25px;
  display: flex;
  justify-content: space-between;
  width:200px;
}

#cvcontainer {
  width:auto;
  height:auto;
  display:grid;
  place-items:center;
}

#cvbild{
  width:600px;
  border-style:solid;
  border-widht:5px;
  border-radius:5px;
}


a {
    text-decoration: none;
    color: black;
    cursor:pointer;
}
